body, html {
    height: 100%;
    margin: 0;
}
body {
    font-family: arial;
    padding-top: 100px; } 

}
header {
    height: 90px;
    background-image: url(index_images/banner.png);
}
header h1 {
    display: inline-block;
    padding-left: 120px;

}
.nav{
    border:1px solid #ccc;
    border-width:1px 0;
    list-style:none;
    margin:0;
    padding: 90 10px;
    text-align:center;
    line-height: 2px;
    text-decoration: none;
    color: darkgreen;
    width: 1250px;
}
.nav a{
    display:inline-block;
    padding:50px;
    background: grey;

}

.banner-right {
    float: right;
    font-size: 24px;
    margin-top: 23px;
    padding-left: 0px;

}
.banner-right a {
    padding: 12px 10px 2px 25px;
    color: black;
    text-decoration: none;
    float: top-right;
}
.banner-right a.twitter:hover {
    color: #1da1f2;
}
.banner-right a.instagram:hover {
    color: #003569;
}
.banner-right a.snapchat:hover {
    color: #FFFC00;
}

.container {
    background-image: url('index_images/nick-turner-2570.jpg');
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px 40px 20px;
}
.content {
    width: 1000px;
    background-color:rgba(97,114,70,.15);
    color: 272822;
    padding: 50px;
    border-radius: 6px;
}
.content-left, .content-right {
    width: 48%;
    display: inline-block;
}
.content img, .content iframe {
    width: 100%;
}
.content iframe {
    height: 300px;
}
.content-right {
    vertical-align: top;
}

a:link {
    color: green; 
    background-color: transparent; 
    text-decoration: none;
}

a:visited {
    color: darkgreen;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: darkblue;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: black;
    background-color: transparent;
    text-decoration: underline;
}